version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "develop"
    labels:
      - "pip dependencies"
